header {
    background-color: lightgray;
    display: flex;
}

header>* {
    margin: auto 0 auto 0;
}

nav {
    margin-left: 5%;
}

header>nav>a {
    font-size: 2em;
}

header>div>span {
    font-size: 2em;
    margin-right: 10px;
}

#logo {
    width: 70%;
    padding: 10px 0 10px 0;
}