header {
    height: 10vh;
    background-color: lightgray;
    display: flex;
}

header>* {
    margin: auto 0 auto 0;
}

header>div>a {
    font-size: 2em;
}

header>div>span {
    font-size: 2em;
    margin-right: 10px;
}